[application]

config/name="nuanxue (plan3 rework)"
run/main_scene="res://scenes/bootstrap/main.tscn"
run/max_fps=60
config/features=PackedStringArray("4.6", "GL Compatibility")
boot_splash/bg_color=Color(0.0852449, 0.0852449, 0.0852449, 1)

[autoload]

EventBus="*res://src/core/event_bus.gd"
